.quiz {
  background-image: linear-gradient( 99.9deg, rgba(27,24,31,1) 21.2%, rgba(50,4,89,1) 84.8% );
  min-height: 100vh;
  .container {
    max-width: 1120px;
    width: 100%;
    .form-wrapper {
      min-height: 800px;
      .img-wrapper {
        .forgot-img {
          object-fit: inherit;
        }
        img {
          object-fit: cover;
        }
      }
    }
    .reset-pass {
      max-width: 550px;
      width: 100%;
      min-height: 500px;
      margin: 0 auto;
    }
  }
}
