.quiz {
  min-height: 100vh;
  background-image: url('https://www.pexels.com/photo/scenic-view-of-galaxy-in-space-6498990/');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
}
