.quiz {
  min-height: 100vh;
  background-image: url('https://images.pexels.com/photos/6498990/pexels-photo-6498990.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-position:center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
}
