// Font
@import url("https://use.typekit.net/qjr3nak.css");
@import url("https://use.typekit.net/qjr3nak.css");

// Font Family
$font-poppins: "Poppins", sans-serif;
$font-merriweather: "Merriweather", sans-serif;
//Colors
$black: #000000;
$white: #ffffff;
$space_gray: #fefefe;
$dark_violet: #2D2A43;

:root {
  --small: clamp(0.80rem, calc(0rem + 1.69vw), 1.5rem);
  --step--0: clamp(0.94rem, calc(0rem + 1.69vw), 1.5rem);
  --step--1: clamp(0.94rem, calc(0rem + 4.69vw), 1.5rem);
  --head-2: clamp(1.13rem, calc(0.95rem + 2.89vw), 3.38rem);
  --head-3: clamp(1.13rem, calc(1.50rem + 1.89vw), 2.38rem);
  --step-3: clamp(1.94rem, calc(1.25rem + 7vw), 8rem);
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  height: 100vh;
  line-height: 1;
}
html body {
  font-family: $font-poppins;
  font-weight: 400;
  font-size: 16px;
  color: $white;
  background-color: $black;
}
.ff-merriweather {
  font-family: $font-merriweather;
  font-weight: 300;
}
h1 {
  font-size: var(--step-3);
}
h2 {
  font-size: var(--head-2);
  font-weight: 700;
}
h3 {
  font-size: var(--head-3);
  font-weight: 500;
}
h4 {
  font-size: var(--step--1);
  font-weight: 300;
}
.fs-detail {
  font-size: var(--step--0);
  font-weight: 300;
}
.fs-small {
  font-size: var(--small);
  font-weight: 300;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}
ul {
  padding: 0;
}
ul li {
  list-style-type: none;
}
.small {
  font-size: 12px;
  line-height: 2px;
  letter-spacing: 1px;
}
.btn-quiz {
  background: $dark_violet;
  color: $space_gray;
}
.btn-google {
  border: 0;
  background:none;
  width: 100%;
  margin: 0;
  padding: 0;
}
.section__head {
  position: relative;
  text-align: center;
  &.news {
    &::before {
      content: 'ARTICLES';
    }
  }
  &.planets {
    &::before {
      content: 'PLANETS';
    }
  }
  &.suggestion {
    &::before {
      content: 'FEEDBACK';
    }
  }
  &::before {
    font-size: clamp(3.5rem, 0rem + 14.69vw, 7rem);
    left: 50%;
    color: rgb(214 214 214 / 20%);
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
nav {
  z-index: 2;
}
//nav button fullPage
#fp-nav {
  &.fp-right {
    right: 0;
    left: 17px;
    z-index: 0;
    ul {
      li {
        width: 20px;
        height: 20px;
        a {
          span {
            height: 15px;
            width: 15px;
            background: transparent;
            border: 1px solid $white;
            margin: -7px 0 0 -7px;
          }
          &.active {
            span {
              height: 15px !important;
              width: 15px !important;
              margin: -7px 0 0 -7px !important;
              background: $white !important;
            }
          }
        }
        .fp-tooltip.fp-right {
          right: -100px;
          left: 30px;
          text-transform: uppercase;
          top: 4px;
        }
      }
    }
    @media (max-width: 990px) {
      left: 7px;
    }
    @media (max-width: 425px) {
      display: none;
    }
  }
}
.fp-watermark,
.fp-watermark a {
  display: none;
}
#stars {
  > i {
    position: fixed;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 25px #fff;
    animation: animate linear infinite;
    z-index: -1;
  }
}
@keyframes animate {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
