.sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  background: $dark_violet;
  transition: 0.5s;
  overflow: hidden;
  ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 10px;
    height: 100%;
    li {
      position: relative;
      width: 100%;
      padding: 15px;
      margin-left: 10px;
      display: flex;
      align-items: center;
      &:last-child {
        width: 97%;
      }
      .sidebar-title {
        transition: 0.5s;
      }
      &:hover {
        background: $white;
        color: $dark_violet;
        &::before {
          content: '';
          position: absolute;
          right: 10px;
          top: -99%;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          box-shadow: 35px 35px 0 10px $white;
          pointer-events: none;
        }
        &::after {
          content: '';
          position: absolute;
          right: 10px;
          bottom: -99%;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          box-shadow: 35px -35px 0 10px $white;
          pointer-events: none;
        }
      }
      &.profile {
        &:hover {
          &::before,
          &::after {
            right: 10px;
          }
        }
      }
    }
    a.active li {
      background: $white;
      color: $dark_violet;
      &::before {
        content: '';
        position: absolute;
        right: 10px;
        top: -99%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 35px 35px 0 10px $white;
        pointer-events: none;
        transition: 0.5s;
      }
      &::after {
        content: '';
        position: absolute;
        right: 10px;
        bottom: -99%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 35px -35px 0 10px $white;
        pointer-events: none;
        transition: 0.5s;
      }
    }
    #settingsCollapse {
      margin-left: 40px;
    }
  }
  .settings-collapse{
    .icon {
      transition: 0.5s;
    }
    &[aria-expanded="true"] {
      div {
        transition: 0.5s;
      }
      .icon {
        rotate: 90deg;
        transition: 0.5s;
      }
    }
    &:focus {
      border: none;
    }
  }
  &.active {
    width: 80px;
    ul li,
    ul button {
      .sidebar-title {
        display: none;
        transition: 0.5s;
      }
    }
    .settings-collapse {
      .icon {
        display: none;
      }
    }
    ul #settingsCollapse {
      margin-left: 0;
    }
  }
  @media (max-width: 991px) {
    left: -300px;
    &.active {
      width: 300px;
      left: 0;
      ul li,
      ul button {
        .sidebar-title {
          display: block;
          transition: 0.5s;
        }
      }
    }
    #settingsCollapse {
      margin-left: 40px !important;
    }
  }
  @media (max-width: 480px) {
    width: 100%;
    left:-100%;
    z-index: 5;
    &.active {
      width: 100%;
      left: 0;
    }
  }
}
