.user_section {
  min-height: 100vh;
  overflow-x: hidden;
  main {
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: $white;
    color: $dark_violet;
    transition: 0.5s;
    padding: 30px 20px;
    .card {
      box-shadow: 5px 5px 12px -2px rgba(0, 0, 0, 0.27);
      border: none;
      .hexagon {
        position: relative;
        overflow: hidden;
        background: transparent;
        width: 310px;
        height: 310px;
        transform: rotate(-30deg) skewX(30deg) scaleY(.866);
        &::before {
          position: absolute;
        right: 6.7%;
        bottom: 0;
        left: 6.7%;
        top: 0;
        transform: scaleY(1.155) skewX(-30deg) rotate(30deg);
        background: linear-gradient(59.82deg, #0976CE 0%, #0976CE 49.36%, #3A91D7 50.11%, #3A91D7 100%);
        content: '';
        }
        .medal {
          z-index: 1000;
          rotate: 45deg;
          position: absolute;
          font-size: 200px;
          height: 210px;
          width: 200px;
          right: 50%;
          left: 0%;
          top: 50%;
          bottom: 0;
          color: gold;
          transform: translate(-17%, -60%);
        }
      }
    }
    .left .card {
      height: 200px;
    }
    .right .card {
      height: 100%;
    }
    &.active {
      width: calc(100% - 80px);
      left: 80px;
    }
    @media (max-width: 1180px) {
      // .right .card {
      //   height: 200px;
      // }
      .card-wrapper {
        .left {
          width: 100%;
        }
      }
    }
    @media (max-width: 991px) {
      width: 100%;
      left: 0;
      &.active {
        left: 300px;
      }
    }
    @media (max-width: 480px) {
      &.active {
        button {
          z-index: 1000;
          color: $white;
          position: fixed;
          right: 30px;
          left: initial;
        }
      }
    }
  }
}
