.heroSection__header {
  .heroSection__wrapper {
    background-image: url("../../img/heroSectionSideImg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 50%;
    right: 0;
    height: 100vh;
    z-index: -1;
    transition: .5s;
    @media (max-width: 768px) {
      background-image: url("../../img/heroSection-mobile.png");
      width: 100%;
      height: 50%;
      bottom: 0;
    }
  }
  .hero-content {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    h4 {
      text-align: justify;
    }
  }
  button {
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
   .icon {
      color: #fff;
      top: 20%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: animateDown 1s ease-in-out infinite;
    }
  }
}

@keyframes animateDown {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}
