.heroSection__header {
  .heroSection__wrapper {
    background-image: url("../../img/heroSectionSideImg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 600px;
    right: 0;
    height: 100vh;
    z-index: -1;
  }
  .hero-content {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}
