.news_article__section {
  .card {
    height: 300px;
    overflow: hidden;
    box-shadow: 0px 5px 5px rgba(180, 180, 180, 0.54);
    .card-body {
      box-shadow: inset 0px -155px 40px rgb(0 0 0);
       .card-text{
        font-size: 13px;
        text-align: justify;
        font-weight: lighter;
        line-height: 18px;
       }
       .post-meta span {
        font-size: 11px;
       }
       @media screen and (max-width: 990px) {
        box-shadow: inset 0px -165px 40px rgb(0 0 0);
       }
    }
  }
}
