
:root {
  --mars-tilt: rotate(25.2deg);
  --mars-color: #c07158;
}

.planet_card {
  .card {
    height: 200px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
    &:hover {
      height: 500px;
      transition: 0.5s;
      .card__planet {
        &::before {
          height: 250px;
          transition: 0.5s;
        }
        .planet__atmosphere {
          width: 250px;
          height: 250px;
          transition: 0.5s;
        }
      }
      .card-body {
        .planet_details {
          transition: 0.5s;
          transform: translateY(0px);
        }
      }
    }
    .card__planet {
      position: absolute;
      left: 50%;
      top: -50px;
      transform: translateX(-50%);
      &::before {
        content: '';
        position: absolute;
        height: 150px;
        z-index: -2;
        left: 50%;
        top: 0%;
        border-left: 1px dashed var(--mars-color);
        transform: var(--mars-tilt)scale(1.2);
      }
      .planet__atmosphere {
        height: 150px;
        width: 150px;
        border-radius: 100%;
        position: relative;
        overflow: hidden;
        background: radial-gradient(circle at 30% 50%, rgba(255,255,255,.2) 0%, rgba(255,255,255,0) 65%);
        transition: 0.5s;
        .planet__surface {
          height: 100%;
          width: 100%;
          position: absolute;
          z-index: -1;
          background-size: cover;
          transform: var(--mars-tilt)scale(1.15);
          transition: 0.5s;
        }
      }
    }
    .card-body {
      bottom: 0;
      overflow: hidden;
      .planet_details {
        transition: 0.5s;
        transform: translateY(160px);
      }
      .dashed-line {
        flex: 1;
        margin: 0 5px;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
      }
    }
  }
}

//Planet rotation animation
@keyframes planetRotate {
  0%{
    background-position: 0% center;
  }
  100%{
    background-position: -200% center;
  }
}
