.planetSection {
  .planet-Section__header {
    background-image: url('../../img/planetPage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    .overlay_bg {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .astronaut_wrapper {
      top: 40%;
      right: 20%;
      will-change: transform;
      animation: move-astronaut 50s infinite linear both alternate;
      .astronaut {
        animation: rotate-astronaut 200s infinite linear both alternate;
      }
    }
    // img {
    //   position: absolute;
    //   height: 250px;
    //   right: 15%;
    //   top: 25%;
    //   animation: moveFloat .5s linear forwards, floating ease 4s infinite;
    //   @media (max-width: 425px) {
    //       height: 150px;
    //       top: 35%;
    //   }
    // }
    .hero-content {
      left: 50%;
      top: 35%;
      position: absolute;
      transform: translate(-50%, -50%);
      h1,
      h5 {
        text-align: left;
      }
      h5 {
        letter-spacing: 0.24em;
        @media (max-width: 1024px) {
          letter-spacing: 0;
        }
      }
    }
  }
  .planet-details__wrapper {
    min-height: 100vh;
    padding: 0 5vw;
    .image-wrapper {
      .planet__atmosphere {
        height: 350px;
        width: 350px;
        border-radius: 100%;
        position: relative;
        overflow: hidden;
        background: radial-gradient(circle at 30% 50%, rgba(255,255,255,.2) 0%, rgba(255,255,255,0) 65%);
        transition: 0.5s;
        .planet__surface {
          height: 100%;
          width: 100%;
          position: absolute;
          z-index: -1;
          background-size: cover;
          transform: rotate(0deg) scale(1.15);
          transition: 0.5s;
          animation: planetRotate calc(300 *.1s) linear infinite;
        }
      }
    }
    .content-wrapper {
      h2 {
        text-transform: uppercase;
      }
      h4 {
        line-height: 25px;
        text-align: justify;
        letter-spacing: .05em;
        font-weight: 300;
      }
    }
    @media (max-width: 990px) {
      .image-wrapper {
        .planet__atmosphere {
          height: 200px;
          width: 200px;
        }
      }
      .content-wrapper {
        h2 {
          margin-top: 2rem;
          text-align: center;
        }
        h4 {
          line-height: 20px;
        }
      }
    }
    @media (max-width: 575px) {
      .image-wrapper {
        .planet__atmosphere {
          height: 150px;
          width: 150px;
        }
      }
    }
    @media (max-width: 425px) {
      .image-wrapper {
        .planet__atmosphere {
          height: 150px;
          width: 150px;
        }
      }
      .content-wrapper {
        hr {
          margin-top: .5rem !important;
          margin-bottom: .6rem !important;
        }
      }
    }
  }
}
@-moz-keyframes move-astronaut {
  100% { -moz-transform: translate(-160px, -160px);}
}
@-webkit-keyframes move-astronaut {
  100% { -webkit-transform: translate(-160px, -160px);}
}
@keyframes move-astronaut{
  100% { -webkit-transform: translate(-160px, -160px); transform:translate(-160px, -160px); }
}
@-moz-keyframes rotate-astronaut {
  100% { -moz-transform: rotate(-720deg);}
}
@-webkit-keyframes rotate-astronaut {
  100% { -webkit-transform: rotate(-720deg);}
}
@keyframes rotate-astronaut{
  100% { -webkit-transform: rotate(-720deg); transform:rotate(-720deg); }
}
 //Planet rotation animation
 @keyframes planetRotate {
  0%{
    background-position: 0% center;
  }
  100%{
    background-position: -200% center;
  }
}
